<select (change)="getFxRatesByCurrency($event)">
    <option value="" disabled selected>Select currency</option>
    <!-- Generate options dynamically from the currencies array -->
    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    <!-- Add more options for other currencies as needed -->
  </select>
  
  <!-- Display retrieved data -->
  <table *ngIf="rates">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Date</th>
        <th>Source Rate</th>
        <th>Target Rate</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let currency of rates | keyvalue">
        <tr *ngFor="let item of currency.value">
          <td>{{ currency.key }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.source_rate }}</td>
          <td>{{ item.target_rate }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>


  <div>
    <label>From:</label>
    <select [(ngModel)]="fromCurrency">
      <option value="" disabled selected>Select currency</option>
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  
  <div>
    <label for="toCurrency">To:</label>
    <select id="toCurrency" [(ngModel)]="toCurrency">
      <option value="" disabled selected>Select currency</option>
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  
  <div>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" [(ngModel)]="amount">
  </div>
  
  <button (click)="convertCurrency()" value="submit">Convert</button>