<table *ngIf="data">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Date</th>
        <th>Source Rate</th>
        <th>Target Rate</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let currency of data | keyvalue">
        <tr *ngFor="let item of currency.value">
          <td>{{ currency.key }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.source_rate }}</td>
          <td>{{ item.target_rate }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>